*{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to left, #e66465, #9198e5);
}

h1{
    text-align: center;
    color: red;
}
h2{
    text-align: right;
}
p{
    color: blue;
}

ul{
    text-align: center;
    background-color: green;
    display: flexbox;
}

li{
    float: left;
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    align-items: flex-start;
}

a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
  }
  
a:hover {
    background-color: white;
    color: #D7C8B6;
}

footer{
    text-align: center;
}

#par2{
    color: red;
}

#nombre{
    width: 200px;
}
